@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));


html {
  scroll-behavior: smooth;
}

body {
	/* background-color: #fefefe; */
	background-color: #f0f0f0;
}

@theme {
	--font-space: 'Space Grotesk', sans-serif;
	--color-surface: #f0f0f0;
	--color-accent: #61DC00;
}

@utility flex-center {
	@apply flex justify-center items-center;
}
