@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&family=Syne:wght@400..800&display=swap');

@import 'tailwindcss';


html {
  scroll-behavior: smooth;
}

body {
	/* background-color: #fefefe; */
	background-color: #f0f0f0;
}

@theme {
	--font-space: 'Space Grotesk', sans-serif;
	--font-outfit:  "Outfit", sans-serif;
	--font-syne: "Syne", sans-serif;



	--color-surface: #f0f0f0;
	--color-accent: #61DC00;

	--background-image-auth: url('/src/assets/bgAuth.png');
	--background-image-error: url('/src/assets/bgNotFound.png');
}

@utility flex-center {
	@apply flex justify-center items-center;
}


@custom-variant dark (&:where(.dark, .dark *));